
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header {
    background-color: #15245a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


#hero {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.btn {
    display:inline-table;
    background-color: #596e9c;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #dfd4d4;
}


section {

    padding: 50px 0;
    text-align: center;
}

.feature {
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
}

.about-content {
    max-width: 800px;
    margin: 50px auto;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    padding: 10px;
    border: none;
}

.contact-form button {
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #777;
}

footer {
    background-color: #0b425e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
